$yellow: #f2c300;
$black: #000000;
$white: #ffffff;
$light-camel: #f2f2e9;
$natural: #eee9e9;
$pink-grey: #d6d4db;
$purple-grey: #846161;
$pink: #f4bcc6;
$gold: #a78e3e;
$light-pink: #ede2e2;
$crocodile-eye: #777722;
