$yellow: #f2c300;
$gold-ui: #ffc300;
$silver-ui: #cbcbcb;
$bronze-ui: #fba069;
$black: #000000;
$light-black: #282826;
$dark-gray: #343330;
$white: #ffffff;
$light-camel: #f2f2e9;
$silver-gray: #83837d;
$light-silver-gray: #cecec4;
$bg-beige-ui: #f6f6db;
$darken-bg-beige-ui: #e1e1c3;
$text-olive-ui: #353506;
$pale-yellow: #f4efbc;
$medal-gold: #bba63a;
$medal-silver: #bbbbbb;
$medal-bronze: #d39c5d;
