@font-face {
	font-family: 'Paris 24';
	src: url('/assets/fonts/paris24.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Paris 24 Semibold';
	src: url('/assets/fonts/paris24-Semibold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ApfelGrotezk-Brukt';
	src: url('/assets/fonts/ApfelGrotezk-Brukt.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ApfelGrotezk-Fett';
	src: url('/assets/fonts/ApfelGrotezk-Fett.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'ApfelGrotezk-Regular';
	src: url('/assets/fonts/ApfelGrotezk-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@mixin apfel-grotezk {
	font-family: 'ApfelGrotezk-Regular';
}
