@use 'tools/' as *;

:root {
	--vh: 1vh;
}

body {
	position: relative;
	@include apfel-grotezk();
}

@include tablet {
	.mobile-only {
		body {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #131313;
		}

		.global-container {
			width: 390px;
			height: 844px;

			position: relative;
			border-radius: 15px;
			overflow: hidden;
		}

		#webgl-app,
		#vue-app {
			width: 100%;
			height: 100%;

			canvas {
				position: static;
			}
		}
	}
}

#webgl-app {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

#canvas-wrapper {
	width: 100%;
	height: 100%;
	pointer-events: auto;
	z-index: -1;
	touch-action: none;

	canvas {
		position: fixed;
		cursor: grab;

		&:active {
			cursor: grabbing;
		}
	}
}

#vue-app {
	position: absolute;
	height: 100%;
	width: 100%;
}

// Annims

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
