@use 'tools/' as *;

:root {
	--vh: 1vh;
}

body {
	height: min(100vh, var(--vh) * 100);
}

#canvas-wrapper,
#canvas-wrapper canvas {
	pointer-events: auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	z-index: -1;
	height: 100%;
	touch-action: none;
}

#vue-app {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}
