@use 'tools/' as *;

:root {
	--vh: 1vh;
}

body {
	position: relative;
	@include apfel-grotezk();
}

#webgl-app {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

#canvas-wrapper {
	width: 100%;
	height: 100%;
	pointer-events: auto;
	z-index: -1;
	touch-action: none;

	canvas {
		position: fixed;
	}
}

#vue-app {
	position: absolute;
	height: 100%;
	width: 100%;
}
